In [ ]:
"""
What is a vasriable?
In python, variables are like containers that store data values.
you can of a variable a label that you can assign to a piec of data,
so you san easily refer to end manipulate that data later in your program.
Variable is python are created when you assign a value to them using the = operator
"""

"""
Variable names:

variable names  can contain letters, numbers, and underscores (_),
but they must start with a letter or an underscore.
For example: my_variable , variable1, variable_two, _Variable
"""

In [2]:
a = 12
A = 20
_A = 21
A_ = 23
A12 = 12

print(a)

12

In [3]:
12b = 15

SyntaxError: invalid decimal literal (3229855588.py, line 1)

In [9]:
_12b = 15
print(_12b)

15

In [11]:
_ = 26 # Bnut please Don't use these kond of variable

In [6]:
print(_)

26

In [10]:
_4 = 52 # Bnut please Don't use these kond of variable

In [8]:
print(_4)

52

In [ ]:
"""
forbidden Python keywords for variables names:
False, await , else
import, pass, none
break, except, in
raise, True, class
finnaly, is, return
and, continue, for
lambda, try, as
def, from, nonlocal
while, asser, del
global, not, with
async, elif, if
of, yeild
"""

In [12]:
# use CamelCase 
firstName  = "Tomas"
lastName = "Doe"

# use PascalCase
FirstName  = "Toams"
NatioanlID = 1288888888

# use snake_case
first_name = "john"
natioanl_id = 1354444444

In [3]:
# Type of variable

# 1: Numerical
# 1-1: Integer
age = 20
year = 2005

# 1-2: Float
cost_services = 210.8
pi = 3.14

# 1-3: Complex
complex_number = 3 + 4j

print(cost_services)

210.8

In [4]:
# 2:String

first_name = "more"
address = """iran
tbz - avenue abc
No - 93
"""
print(address)

iran
tbz - avenue abc
No - 93

In [2]:
# 3:Boolean
is_right = False
status = True
print(is_right)
print(status)

False
True

In [8]:
# 4: Sequence variable
# 4-1: List
fruits = ["apple", "berry", "cherry", "pineapple"]
numbers = [1,2,3,4,5, "six", 7.5]

# 4.2: Tuple
coordinate = (10,20)
colors = ("red", "green", "blue")


print(numbers[1])
print(numbers[5])
print(colors[2])

2
six
blue

In [12]:
# 5: set
even_numbers = {0,2,4,6,8,10}
vowels = {"a", "e", "i", "o", "e"}

print(even_numbers)
print(vowels)

{0, 2, 4, 6, 8, 10}
{'a', 'i', 'o', 'e'}

In [14]:
# 6: Dictionary

student_information = {"first_name": "ali",
                       "age": 26,
                       "grades": [88, 92,57]
                       }

print(student_information)
print(student_information["grades"])

{'first_name': 'ali', 'age': 26, 'grades': [88, 92, 57]}
[88, 92, 57]