In [4]:
# _____operatrors_____
"""
+ (Addition): x + y
- (subtraction): x - y
* (Multiplication): x * y
/ (division): x / y
% (Modulus): x % y
** (Exponentiation): x ** y
// (floor division): x // y
"""
x = 6
y =  2
addition = x + y
subtraction = x - y
multiplication = x * y
division = x / y
modulus = x % y
exponentiation = x ** y
floor_division = x // y

print("result addition: " , addition)
print("result subtraction: " , subtraction)
print("result multiplication: " , multiplication)
print("result division: " , division)
print("result modulus: " , modulus)
print("result exponentiation: " , exponentiation)
print("result floor_division: " , floor_division)

result addition:  8
result subtraction:  4
result multiplication:  12
result division:  3.0
result modulus:  0
result exponentiation:  36
result floor_division:  3

In [27]:
name = "john"
family = "bovary"
fullname = name+ " " + family
print(fullname)

john bovary

In [ ]:
"""
All operations start from left to right:

1. Parantheses
2. Exponentiation
3. Multiplication, division, floor division, modulus
4. Addition, subtraction
"""

'\nAll operations start from left to right:\n\n1. Parantheses\n2. Exponentiation\n3. Multiplication, division, floor division, modulus\n4. Addition, subtraction\n\n'

In [9]:
ex = 2 ** 3 ** 1 # (2 ** (3 ** 1))
ex

8

In [10]:
print('hi')
print     (    'hi'    )

hi
hi

In [11]:
for i in range(1,4):
    print(i)

1
2
3

In [12]:
#Assignment operators:
"""
=
+=
-=
*=
/=
%=
**=
//=

"""
num = 5
num += 1
print(num)

6

In [17]:
a = 5
b = 6
print(a == b)

# other way
if (a==b):
    print("a, b values are Equal")
else:
    print("a, b values are NOT Equal")

False
a, b values are NOT Equal

In [18]:
print(a!=b)
# other way
if (a!=b):
    print("a, b values are NOT Equal")
else:
    print("a, b values are Equal")

True
a, b values are NOT Equal

In [22]:
#Binary Representation
var_one = 0.1
var_two = 0.2
result_vars = var_one + var_two
print(result_vars)

print(0.1+0.2 == 0.3)
print(0.1+0.2 != 0.3)

0.30000000000000004
False
True

In [23]:
# scientific notation
large_float = 1.5e6 # 1.5 * 10^6
small_float = 2.5e-4 # 2.5 * 10^-4

In [24]:
 print('i'm john')

SyntaxError: unterminated string literal (detected at line 1) (1787110688.py, line 1)

In [26]:
print('i\'m john') # \ is slash
print("i'm john")

i'm john
i'm john

In [29]:
print("Hello\tWorld") # t is tab
print("Hello\nWorld") # n is new line

Hello	World
Hello
World

In [39]:
age = input("please enter you'r age")
print(age)

5

In [40]:
type(age)

str

In [42]:
"""
F-string

[] is Brocket or Square bracket
{} is curly brace or curly bracket
"""
firstname = "john"
age = 30
msg = f"My name is {firstname} and i'm {age} years old" 
print(msg)

My name is john and i'm 30 years old