In [4]:
# _____operatrors_____
"""
+ (Addition): x + y
- (subtraction): x - y
* (Multiplication): x * y
/ (division): x / y
% (Modulus): x % y
** (Exponentiation): x ** y
// (floor division): x // y
"""
x = 6
y =  2
addition = x + y
subtraction = x - y
multiplication = x * y
division = x / y
modulus = x % y
exponentiation = x ** y
floor_division = x // y

print("result addition: " , addition)
print("result subtraction: " , subtraction)
print("result multiplication: " , multiplication)
print("result division: " , division)
print("result modulus: " , modulus)
print("result exponentiation: " , exponentiation)
print("result floor_division: " , floor_division)

result addition:  8
result subtraction:  4
result multiplication:  12
result division:  3.0
result modulus:  0
result exponentiation:  36
result floor_division:  3

In [3]:
name = "john"
family = "wick"
fullname = name+ " " + family
print(fullname)

john wick

In [ ]:
"""
All operations start from left to right:

1. Parantheses
2. Exponentiation
3. Multiplication, division, floor division, modulus
4. Addition, subtraction
"""

'\nAll operations start from left to right:\n\n1. Parantheses\n2. Exponentiation\n3. Multiplication, division, floor division, modulus\n4. Addition, subtraction\n\n'

In [9]:
ex = 2 ** 3 ** 1 # (2 ** (3 ** 1))
ex

8

In [10]:
print('hi')
print     (    'hi'    )

hi
hi

In [11]:
for i in range(1,4):
    print(i)

1
2
3

In [12]:
#Assignment operators:
"""
=
+=
-=
*=
/=
%=
**=
//=

"""
num = 5
num += 1
print(num)

6

In [17]:
a = 5
b = 6
print(a == b)

# other way
if (a==b):
    print("a, b values are Equal")
else:
    print("a, b values are NOT Equal")

False
a, b values are NOT Equal

In [18]:
print(a!=b)
# other way
if (a!=b):
    print("a, b values are NOT Equal")
else:
    print("a, b values are Equal")

True
a, b values are NOT Equal