In [4]:
# iterating over a list
fruits = ['apple', 'banana', 'orange']
for fruit in fruits:
    print(fruit)

apple
banana
orange

In [5]:
# Iterating over a string
text = "Hello"

for letter in text:
    print(letter)

H
e
l
l
o

In [14]:
# Iterating over a range number
for i in range(4): # [0, 4)
    print(i)

0
1
2
3

In [15]:
for j in range(2,8): # [2, 8)
    print(j)

2
3
4
5
6
7

In [16]:
for j in range(0,11): # [0, 11)
    if j % 2 == 0:
        print(j)

0
2
4
6
8
10

In [17]:
# Iteratiung over a range of numbers:

for  k in range(0,11,2): # start, stop, step
    print(k)

0
2
4
6
8
10

In [24]:
# Iterating over a dictionary
student_grades = {
    'Alice': 'A',
    'Bob': 'C',
    'Jack': 'D',
    'Daniel': 'B',
}

for key, value in student_grades.items():
    print(f"The '{key}' grade is: '{value}'")

The 'Alice' grade is: 'A'
The 'Bob' grade is: 'C'
The 'Jack' grade is: 'D'
The 'Daniel' grade is: 'B'

In [26]:
# Iterating over a set

numbers = {1,2,3,4}
for num in numbers:
    print(num)

1
2
3
4

In [28]:
animals = ['cat', 'dog', 'elephant'] # list
for index, animal in enumerate(animals):
    print(f"Index {index}: {animal}")

Index 0 : cat
Index 1 : dog
Index 2 : elephant

In [29]:
fruits = ['apple', 'banana', 'orange']
for index, fruit in enumerate(fruits):
    print(f"{index}: {fruit}")

0: apple
1: banana
2: orange

In [31]:
students = ['Alice', 'Bob', 'Charlie']
scores = [85, 72, 90]
for index, (student, score) in enumerate(zip(students, scores), start=1):
    try:
        if score < 75:
            scores[index-1] += 10
            print(f"Bonus applied to {student}. New Score: {scores[index-1]}")
        else:
            print(f"{student} did not receive a bonus. score remains: {score}")
    except Exception as e:
        print(f"Error updating score for {student}: {e}")

print("\nFinal Score")

for student, score in zip(students, scores):
    print(f"{student}: {score}")

Alice did not receive a bonus. score remains: 85
Bonus applied to Bob. New Score: 82
Charlie did not receive a bonus. score remains: 90

 Final Score
Alice: 85
Bob: 82
Charlie: 90

In [37]:
students = ['Alice', 'Bob', 'Charlie']
scores = [85, 72, 90]
print("\nRaw Scores:")
for student, score in zip(students, scores):
    print(f"{student}: {score}")
    
for index, (student, score) in enumerate(zip(students, scores), start=1):
    if score < 75:
        scores[index-1] += 10
           
print("\nFinal Scores:")
for student, score in zip(students, scores):
    print(f"{student}: {score}")

Raw Scores:
Alice: 85
Bob: 72
Charlie: 90

Final Scores:
Alice: 85
Bob: 82
Charlie: 90

In [44]:
# Nested for loops:
matrix = [
    [1,2,3],
    [4,5,6],
    [7,8,9]
]
for row in matrix:
    for item in row:
        print(item, end=" ")
    print()

1 2 3
4 5 6
7 8 9

In [45]:
tpl_nums = (1,2,3)
for x in tpl_nums:
    print(x, end=" ")

1 2 3

In [46]:
lst_one = [1,2,3]
lst_two = ['a', 'b', 'c']
combined = zip(lst_one, lst_two)
print(list(combined))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [48]:
# find even nums then power to 2
nums = []
for a in range(0,13,1):
    if a % 2 ==0:
        nums.append(a**2)
print(nums)

[0, 4, 16, 36, 64, 100, 144]

In [49]:
even_nums = [t**2 for t in range(0,13,1) if t %2 == 0]
print(even_nums)

[0, 4, 16, 36, 64, 100, 144]