In [96]:
"""
3. Count vowels in a string 
etc:  a, e, i, o ,u
"""
vowels = ('a', 'e', 'i', 'o' ,'u')
cnt_vl = 0 #count_of_vowels_letter
text = "Programing in python is fun and educational."
#text = "python"
for letter in text:
    if letter in vowels:
        cnt_vl +=1

print(f"The text are: {text}")
print(f"Count of vowels letter: {cnt_vl}")

The text are: Programing in python is fun and educational.
Count of vowels letter: 14

In [32]:
"""
2. generate a multiplication table for numbers from 1 to 10
"""
for i in range(1,11):
    print('')
    for j in range(1,11):
        print(i * j, end=' ')
    print()

1 2 3 4 5 6 7 8 9 10

2 4 6 8 10 12 14 16 18 20

3 6 9 12 15 18 21 24 27 30

4 8 12 16 20 24 28 32 36 40

5 10 15 20 25 30 35 40 45 50

6 12 18 24 30 36 42 48 54 60

7 14 21 28 35 42 49 56 63 70

8 16 24 32 40 48 56 64 72 80

9 18 27 36 45 54 63 72 81 90

10 20 30 40 50 60 70 80 90 100

In [94]:
"""
2. Other way to generate a multiplication table for numbers from 1 to 10
"""
tbl_mul = {}
new_line = []
i = 0
j = 0
for i in range(1,11):
    for j in range(1,11):
        new_line.append(i * j)
    # print(new_line)
    tbl_mul[i] = list(new_line)
    new_line.clear()

#print(tbl_mul) 
for item in range(1,11):
    for row in tbl_mul[item]:
        print(row, end=" ")
    print()

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100

In [97]:
"""
1: write a python program to generate a 3*3 martix of prime numbers
starting from 2 and then print the matrix

[ [2,3,5],
  [7, 11,13],
  [17,19,23]
]
"""
a = 2
a

2